<!-- This is the dashboard -->
<h1><%= @mood['title'] %></h1>

<div class="spotify-embed-wrapper">
  <div class="spotify-embed">
    <iframe class="spotify-embed-one" src="https://embed.spotify.com/?uri=spotify%3Atrack%3A33Q6ldVXuJyQmqs8BmAa0k" width="340" height="80" frameborder="0" allowtransparency="true"></iframe>
  </div>
</div>

<!-- <div class="spotify-embed-list">
  <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A33Q6ldVXuJyQmqs8BmAa0k" width="340" height="80" frameborder="0" allowtransparency="true"></iframe>
</div> -->

<% @comments.each do |comment| %>
<div class="comment" data-uri="<%= spotify_search(comment['track_name'], ['artist_name']) %>">
  <%= comment['track_name'] %> by <%= comment['artist_name'] %> <br>
  <%= comment['content'] %> <br><br>
</div>

<% end %>

<%= form_for :comment, method: 'post', url: "/comment_add" do |f| %>
<%= label(:comment, :content) %><br>
<%= f.text_field :content %><br>
<%= label(:comment, :artist_name) %><br>
<%= f.text_field :artist_name %><br>
<%= label(:comment, :track_name) %><br>
<%= f.text_field :track_name %><br>
<%= hidden_field_tag :user_email, session['spotify_user']['email'] %>
<%= hidden_field_tag :mood_id, @mood['id'] %>
<br>
<%= f.submit "Submit Comment" %>
<% end %>
