<!-- This is the dashboard -->
<h1><%= @mood['title'] %></h1>

<% @comments.each do |comment| %>
  <%= comment['track_name'] %> by <%= comment['artist_name'] %> <br>
  <%= comment['content'] %> <br><br>
<% end %>

<%= session['spotify_user']['display_name'] %><br>
<%= session['spotify_user']['country'] %><br>
<%= session['spotify_user']['email'] %><br>
<%= session['spotify_user']['images[0]'] %>

<%= form_for :comment, method: 'post', url: "/comment_add" do |f| %>
<%= label(:comment, :content) %><br>
<%= f.text_field :content %><br>
<%= label(:comment, :artist_name) %><br>
<%= f.text_field :artist_name %><br>
<%= label(:comment, :track_name) %><br>
<%= f.text_field :track_name %><br>
<%= hidden_field_tag :user_email, session['spotify_user']['email'] %>
<%= hidden_field_tag :mood_id, @mood['id'] %>
<br>
<%= f.submit "Submit Comment" %>
<% end %>
