<%= render "dashboardnav" %>
<div class="container">

  <div id="user-info" class="col-xs-7 col-md-4 img-rounded">
    <p>Name: <%= @user['display_name'] %></p>
    <% if @user['spotify_id'] != nil %>
      <p>Username: <%= @user['spotify_id'] %></p>
    <% end %>
    <p>Email: <%= @user['email'] %></p>
    <p>Country: <%= @user['country'] %></p>
  </div>

  <div class="row"></div>
  <br><br>

  <div class="col-md-12 text-center">
    <h1>My Moods</h1>
    <div class='suggestions'>
      <% @userMoods.each do |mood| %>
      <span class="legend">Mood: </span><span class="key"><%= mood['title'] %> |</span>
      <%= link_to "View Mood Thread", "/moods/#{mood.id}" %><br><hr>
    <% end %>
    </div>
  </div>

  <div class="col-md-12 text-center">
    <h1>My Suggestions</h1>
    <div class='suggestions'>
      <% @all_comments.each do |comment| %>
      <span class="legend">Comment: </span><span class="key"><%= comment['content'] %> |</span>
      <span class="legend">Artist: </span><span class="key"><%= comment['artist_name'] %> |</span>
      <span class="legend">Track: </span><span class="key"><%= comment['track_name'] %></span><br>
      <a href='/comments/<%= comment["id"] %>/edit'>Edit this comment!</a><br>
      <%= button_to 'Remove this comment', comment, method: :delete, class: "btn btn-danger" %><br><hr>
    <% end %>
    </div>
  </div>


</div>
